@font-face {
  font-family: norwester;
  src: url(assets/fonts/norwester-v1.2/norwester.otf);
}

.coming-soon {
  font-family: norwester, sans-serif;
  font-size: 8rem;
  display: flex;
  color: black;
}
