/* Custom Fonts */

@font-face {
  font-family: norwester;
  src: url(assets/fonts/norwester-v1.2/norwester.otf);
}

/* Main CSS */

.coming-soon {
  font-family: norwester, sans-serif;
  font-size: 8rem;
  color: black;
}

main {
  margin-top: 5rem;
}

@media only screen and (max-width: 600px) {
  .coming-soon {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 500px) {
  .coming-soon {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 400px) {
  .coming-soon {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 300px) {
  .coming-soon {
    font-size: 4rem;
  }
}
